#myh1 {
    color: rgb(227, 31, 31);
    margin-left: 60px;

}

.item {
    color: rgb(90, 159, 90);

}

#image1 {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 800px;
    
}

#bouton1{
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

#bouton1:hover {
    color: #000000;
    background-color:rgb(203, 198, 198) ;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 48px;
    margin-right: 48px;
  

}

#spanhidden:hover{
    

}

